.action-button {
    padding: 0.5em 1em;
    background-color: mediumslateblue;
    border: none;
    border-radius: 0.125em;
}
    .action-button__wrapper {
        position: absolute;
        top: 4em;
        left: calc(100% - 4em);
    }
    .action-button__status-text {
        content-visibility: hidden;
    }
    .action-button__wrapper:hover > .action-button__status-text {
        content-visibility: visible;
    }
    