.action-button {
    padding: 1em 0.5em;
    background-color: mediumslateblue;
    border: none;
    border-radius: 0.125em;
}
    .action-button__wrapper {
        position: absolute;
        top: 6em;
        left: calc(100% - 3em);
    }
    .action-button__status-text {
        content-visibility: hidden;
    }
    .action-button:hover + .action-button__status-text {
        content-visibility: visible;
    }
    