.iit__button {
    padding: 0.5em 1em;
    border: 1px solid #dee2e6;
    border-color: #adb5bd;
    border-radius: 0.125em;
}

.iit__button_on {
    background-color: #38d9a9;
    border-color: #12b886;
}

.iit__button_error {
    background-color: #ff6b6b;
    border-color: #f03e3e;
}

.iit__container {
    position: absolute;
    top: 5em;
    left: calc(100% - 4em);
}

.iit__status-text {
    content-visibility: hidden;
}

.iit__container:hover > .iit__status-text {
    content-visibility: visible;
}
